.header {
    color: #FFF;
    background: #319a96;
    display: flex;
    align-items: center;
    padding: 15px;
}

.header__img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.header__block {
    padding: 0 20px;
}

.header__title {
    font-size: 32px;
    line-height: 38px;
    font-weight: 700;
}

.header__desc {
    font-size: 16px;
    line-height: 20px;
}