@font-face {
    font-family: "MartianMono";
    src: url(../fonts/MartianMono-Thin.ttf);
    font-weight: 100;
    font-style: normal; }

@font-face {
    font-family: "MartianMono";
    src: url(../fonts/MartianMono-Regular.ttf);
    font-weight: 400;
    font-style: normal; }

@font-face {
    font-family: "MartianMono";
    src: url(../fonts/MartianMono-Bold.ttf);
    font-weight: normal;
    font-style: normal; }
*{
    box-sizing: border-box;
    font-family: "MartianMono", serif;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 30px;
}

.header__title {
    font-weight: 700;
}
.header__description {
    font-weight: 100;
}

.homeworks__title {
    font-weight: 400;
}
.homeworks__list {
    list-style: none;
    font-weight: 400;
}

.homeworks__list__item {
    border: 1px solid #f1f8fb;
    padding: 10px;
}

.homeworks__list__item__link {
    text-decoration: none;
    color: #2b8dc7;
}

.homeworks__list__item__link:hover{
    color:#54d226;
}

.homeworks__list__item__desc{
    font-weight: 100;
}